<%include header.ejs %>
<%include nav.ejs %>
<h1>Bars Near You</h1>
<article>
<div class="container">
  <% for(var i = 0; i < bars.length; i++){ %>
  <section>
    <div class="bars">
      <p class="names"><a href = <%=bars[i].url%>><%= bars[i].name %></a></p>
      <div class="image"><img src=<%=bars[i].image_url%> width="150px"></img></div>
      <%= bars[i].location.address1 %></br>
      <%= bars[i].rating %></br>
    </div>
    </section>
  <%}%>
  
</div>
</article>