<%include header.ejs %>
<%include nav.ejs %>
<h1><%=term%></h1>
<div class="container">
<article>
  <% for(var i = 0; i < bars.length; i++){ %>
  <section>
    <div class="bars">
      <div class="imgg">
        <div class="image"><img src=<%=bars[i].image%> width="150px"></img></div></br>
      </div>
      <div class="rest">
      <p class="names"><a href = <%=bars[i].url%> style="color: #373737"> <%= bars[i].title %></a></p></br>
      <span class="glyphicon glyphicon-map-marker" style="margin-left: -2px"></span>&nbsp;&nbsp;<%= bars[i].address %></br>
      <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;<%= bars[i].phone %></br>
      <div class="price"><span class="glyphicon glyphicon-glass"></span>&nbsp;&nbsp;<%= bars[i].price %></br></div>
      <div class="star-ratings-css">
        <div class="star-ratings-css-top" style="width: <%= bars[i].rating * 21 + "%" %>"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div>
      </div>
      <div class="right">
        <% if(authenticated === true){ %>
          <a id="<%= bars[i].id %>" class="btn" style="color: white; background-color: #c0b283">
            <%=bars[i].totalAttending%> Going
          </a></br>
      <%}%>
      </div>
    </div>
    
    </section>
  <%}%>
</article>
</div>